[Unit]
Description=Futaba - Moderation bot written for Programming
After=network.target

[Service]
Type=simple
User=futaba
ExecStart=/usr/bin/python3.7 -m futaba config.toml
WorkingDirectory=/home/futaba/repo
Restart=always
RestartSec=600

[Install]
WantedBy=multi-user.target
