[Unit]
Description=Futaba - Moderation bot written for Programming
After=network.target

[Service]
Type=simple
User=futaba
ExecStart=/home/futaba/repo/.venv/bin/python3 -m futaba --no-stdout config.toml
WorkingDirectory=/home/futaba/repo
Restart=always
RestartSec=600

[Install]
WantedBy=multi-user.target
