# Ignore virtual environments
venv/

# Ignore editor files
.vscode/
.*.swp

# Configuration
/config*.toml
/futaba.service

# Artifacts
__pycache__
*.py[cdo]
/unidata-blocks.txt

# Logging
*.log

# SQLite databases
*.db

# Misc
*.bak
*~
*#
