# Ignore virtual environments
venv/

# Ignore editor files
.vscode/
.*.swp

# Configuration
/config*.toml

# Artifacts
__pycache__
*.py[cdo]

# Logging
*.log

# Misc
*.bak
*~
*#

# SQLite databases
*.db
